@media screen and (max-width: 800px) {
  header {
    padding-inline: 79px;
  }
  main {
    padding-inline: 79px;
    columns: 1;
    gap: 20px;
  }
  .information {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    padding: 112px 207px 16px 79px;
  }
  .fomular div {
    padding-inline: 79px;
    width: 100%;
  }
}
